<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie um agendamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesc.css') }}">
</head>
<body class="body">
  
    <div class="container">
      <a href="{{ url_for('index') }}", class="btao2">Voltar</a>
      <a href="about.html" class="btao2">Sobre</a>
      <img src="{{ imagem_url }}" class="foto">
    </div>
    {% with messages = get_flashed_messages() %}
                {% if messages %} 
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
    <div class="meio">
        <form action="{{ url_for('criar') }}" method="post" enctype="multipart/form-data"> 
            <fieldset>
              <div class="form-group">
                <label for="horario">Informe a data do agendamento</label>
                <input type="date" id="data" name="data" value="{{ data }}" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label" for="periodo">Selecione um período</label>
                <div class="controls">
                  <select id="periodo" name="periodo" class="input-xlarge">
                    <option>MATUTINO</option>
                    <option>VESPERTINO</option>
                    <option>NOTURNO</option>
                    </option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label class="control-label" for="materia">Selecione a materia deste professor</label>
                <div class="controls">
                  <select id="materia" name="materia" class="input-xlarge">
                    <option>INGLÊS</option>
                    <option>PORTUGUÊS</option>
                    <option>MATEMÁTICA</option>
                    <option>HISTÓRIA</option>
                    <option>GEOGRAFIA</option>
                    <option>BIOLOGIA</option>
                    <option>QUÍMICA</option>
                    <option>ESPANHOL</option>
                    <option>FÍSICA</option>
                    <option>ED.FÍSICA</option>
                    </option>
                  </select>
                </div>
              </div>
              <button type="submit" class="btao2">Salvar</button>
            </fieldset>
          </form>       
    </div>
    
</body>
</html>