<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
                {% if messages %} 
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h4>Login</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('autenticar') }}">
                            <input type="hidden" name="proxima" value="{{ proxima or url_for('consultor') }}">
                            <p><label>Nome de usuário:</label> <input class="form-control" type="text" name="usuario" required></p>
                            <p><label>Senha:</label> <input class="form-control" type="password" name="senha" required></p>
                            <p><button class="btao2" type="submit">Entrar</button></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>